#emojis .dialog-card {
    display: flex;
    flex-direction: column;
}

#emoji-results {
    max-height: 108px;
    overflow-y: auto;
    margin-top: 10px;
}

ul#emojis-list-emojis {
    margin: 0 -4px;
    padding: 0;
}

ul#emojis-list-emojis li {
    display: inline-block;
    text-align: center;
    padding: 0;
    margin: 0;
    list-style: none;
    cursor: pointer;
    border: none;
    font-size: 1.4em;
    width: 32px;
    height: 36px;
    line-height: 36px;
    border-radius: 4px;
}

ul#emojis-list-emojis li:hover,
ul#emojis-list-emojis li.selected {
    background-color: #eee;
}
