* {
	box-sizing: border-box;
}

html,
body {
	display: block;
	margin: 0 !important;
}

body {
	min-width: 320px;
	min-height: 240px;
	font-weight: 400;
	font-size: 0.8rem;
	text-rendering: optimizeLegibility;
}

[class^='icon-'] {
	display: inline-block;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	background-color: transparent;
	position: relative;
	border: none;
	outline: none;
	cursor: pointer;
	display: inline-block;
	height: 26px;
	min-width: 28px;
	padding: 0 5px;
	top: 4px;
	font-size: 1em;
}

[class^='icon-'].no-action {
	cursor: default;
}

[class^='icon-'].labeled {
	background-position: left center;
	padding-left: 28px;
	text-align: left;
}

footer {
	position: relative;
}

header {
	height: 36px;
	position: relative;
	overflow: visible;
	border: 1px solid #ccc;
	display: flex;
}

header input {
	border: none;
	outline: none;
	flex-grow: 1;
	margin: 0;
	padding: 0 0 0 10px;
	height: 34px;
	line-height: 34px;
	font-size: 1.2em;
}

button.tooltip {
	position: relative;
}
button.tooltip span{
	display: block;
	position: absolute;
	pointer-events: none;
	opacity: 0;
	background: #444;
	color: #ddd;
	padding: 3px 7px;
	bottom: -25px;
	z-index: 3;
	right: 0;
	transition: opacity .2s ease;
	white-space: nowrap;
	border-radius: 3px;
}
button.tooltip:hover span{
	opacity: .9;
}
button.tooltip:hover span::before{
	content: "";
    display: block;
    background: #444;
    width: 6px;
    height: 6px;
    position: absolute;
    top: -3px;
	right: 8px;
    transform: rotate(45deg);
}

section {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	transition: opacity 0.2s;
	opacity: 1;
	pointer-events: all;
}

section.hidden {
	opacity: 0;
	pointer-events: none;
}

.display-none {
	display: none;
}

#options-container {
	border: 1px solid #ccc;
	background: white;
	text-align: right;
	position: absolute;
	right: -1px;
	left: auto;
	top: 100%;
	width: 185px;
	height: auto;
	padding: 0 10px 10px;
	z-index: 2;
}

#options-container button {
	line-height: 2.1;
	height: 22px;
}

.group {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	border-bottom: 1px solid #ccc;
	padding: 5px 0;
	position: relative;
}

.group:last-child {
	border: none;
}

.group .meta {
	line-height: 2;
	width: 100%;
	display: flex;
	justify-content: space-between;
	font-size: .9em;
}

.group .meta span {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	padding-left: 5px;
}

.ul {
	list-style: none;
	overflow-y: auto;
	margin: 10px 0 0;
	padding: 0;
	text-align: left;
}

.ul li {
	display: inline-block;
	cursor: pointer;
}

#themes-list li {
	width: 24px;
	height: 24px;
	border-radius: 50%;
	margin-bottom: 5px;
}

#themes-list li:before {
	display: block;
	content: 'A';
	height: 100%;
	line-height: 22px;
	text-align: center;
}

#resizer {
	position: absolute;
	display: block;
	width: 29px;
	height: 29px;
	right: 5px;
	top: 5px;
	border-radius: 50%;
	box-shadow: inset 0 0 0px 12px #fff;
	background: #bbb;
}

#resizer span {
	pointer-events: all;
	cursor: pointer;
	position: absolute;
	transition: all .2s ease;
	top: 8px;
	left: 5px;
	display: block;
	height: 14px;
	width: 19px;
	opacity: .4;
	min-width: auto;
	padding: 0 !important;
	background-size: 73%;
}

#resizer span:hover {
	opacity: 1;
}

#joystick-top {
	transform: rotate(-90deg) translateX(10px)
}

#joystick-right {
	transform: rotate(.01deg) translateX(10px)
}

#joystick-bottom {
	transform: rotate(90deg) translateX(10px);
}

#joystick-left {
	transform: rotate(180deg) translateX(10px)
}

#list-container {
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 4;
}

#notes {
	display: flex;
	width: 100%;
	margin-top: 36px !important;
    height: calc(100% - 36px);
	margin: 0;
	flex-direction: column;
	background: #eee;
}

#notes li * {
	pointer-events: none;
}

#notes li {
	line-height: 35px;
	min-height: 35px;
	padding: 0 10px 0 30px;
	overflow: hidden;
	display: flex;
	justify-content: space-between;
	position: relative;
	color: #333;
	border-top: 1px solid #ccc;
	transition: all .3s ease;
}

#notes li:hover {
	background-color: white;
	box-shadow: 0 0 7px rgb(0 0 0 / 20%);
}

#notes li:last-child {
	border-bottom: 1px solid #ccc;
}

#notes li i {
	position: absolute;
	display: block;
	width: 15px;
	height: 15px;
	border-radius: 3px;
	left: 10px;
	top: 10px;
	box-shadow: 0 0 1px 1px rgb(0 0 0 / 20%);
}

#notes li a {
	font-size: .9em;
	opacity: .8;
}

#notes li span {
	font-weight: 500;
	font-size: 1.1em;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 72%;
	pointer-events: none;
	overflow-x: hidden;
}

#files {
	background: #eee;
	position: absolute;
	left: 0;
	z-index: 1;
	display: flex;
	width: 100%;
	padding: 0 0 9px 10px
}

#files button {
	background-color: #fff;
	margin-right: 5px;
	background-size: 17px;
	background-position: 5px;
	border-radius: 3px;
	height: 27px;
	padding: 0 10px 0 26px;
	border: 1px solid #ddd;
	font-weight: 600;
	opacity: .8;
	transition: all .2s ease;
}

#files button:hover {
	border: 1px solid #bbb;
	background-color: #f2e9d1;
	opacity: 1;
}

#files button.icon-back {
	background-position-x: 100%;
	background-size: 25px;
	background-color: transparent !important;
	margin-left: auto !important;
	margin-right: 0;
	padding: 0 20px 0 0;
	opacity: .5;
	border: 0;
}

#prompt,
#info {
	display: flex;
	align-content: center;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 5;
}

#prompt .entry {
	display: none;
}

#prompt .entry.visible {
	display: block;
}

#prompt .entry div,
#info div {
	width: 170px;
	text-align: center;
	background: white;
	padding: 10px 15px 5px;
	border-radius: 3px;
	margin-top: -5px;
}

#prompt .text,
#info .text {
	font-size: 1.5em;
}

#prompt button,
#info button {
	cursor: pointer;
	margin: 5px;
	border: none;
	padding: 5px 15px;
}

#confirm {
	background: #d10000;
	border-radius: 2px;
	color: white;
}

/* quill editor updates */
.ql-container {
	border: none !important;
}

.ql-toolbar {
	border: none !important;
	padding: 5px;
	white-space: nowrap;
}

.ql-toolbar .ql-formats {
	border-right: 1px solid rgba(0, 0, 0, .1);
	margin-right: 0 !important;
	padding-right: 5px;
}

.ql-toolbar .ql-formats:last-child {
	border: none;
	padding-right: 0;
}

.ql-picker.ql-expanded .ql-picker-options {
	bottom: 100%;
	right: 0;
	top: auto !important;
}

.ql-picker-item[data-value='DEFAULT']:before {
	content: 'A';
	display: block;
	text-align: center;
}

.ql-color-picker.ql-color .ql-picker-item,
.ql-color-picker.ql-background .ql-picker-item {
	background: #fff;
	color: #000;
}

.ql-editor.ql-blank::before {
	color: inherit;
	opacity: .7;
}

/* colors */
.color-0,
.theme-color-0 .ql-editor,
.theme-color-0 footer {
	background: #222;
}

.color-1,
.theme-color-1 .ql-editor,
.theme-color-1 footer {
	background: #461425;
}

.color-2,
.theme-color-2 .ql-editor,
.theme-color-2 footer {
	background: #3b2708;
}

.color-3,
.theme-color-3 .ql-editor,
.theme-color-3 footer {
	background: #093f22;
}

.color-4,
.theme-color-4 .ql-editor,
.theme-color-4 footer {
	background: #1a2b68;
}

.color-5,
.theme-color-5 .ql-editor,
.theme-color-5 footer {
	background: #3d1a52;
}

.color-6,
.theme-color-6 .ql-editor,
.theme-color-6 footer {
	background: #eee;
}

.color-7,
.theme-color-7 .ql-editor,
.theme-color-7 footer {
	background: #e5b1b1;
}

.color-8,
.theme-color-8 .ql-editor,
.theme-color-8 footer {
	background: #eae3a3;
}

.color-9,
.theme-color-9 .ql-editor,
.theme-color-9 footer {
	background: #9ac59c;
}

.color-10,
.theme-color-10 .ql-editor,
.theme-color-10 footer {
	background: #9ac0de;
}

.color-11,
.theme-color-11 .ql-editor,
.theme-color-11 footer {
	background: #e3c8f5;
}

.color-0,
.theme-color-0 .ql-editor,
.color-1,
.theme-color-1 .ql-editor,
.color-2,
.theme-color-2 .ql-editor,
.color-3,
.theme-color-3 .ql-editor,
.color-4,
.theme-color-4 .ql-editor,
.color-5,
.theme-color-5 .ql-editor {
	color: #eee;
}

.color-6,
.theme-color-6 .ql-editor,
.color-7,
.theme-color-7 .ql-editor,
.color-8,
.theme-color-8 .ql-editor,
.color-9,
.theme-color-9 .ql-editor,
.color-10,
.theme-color-10 .ql-editor,
.color-11,
.theme-color-11 .ql-editor {
	color: #222;
}

.theme-color-0 #notes,
.theme-color-1 #notes,
.theme-color-2 #notes,
.theme-color-3 #notes,
.theme-color-4 #notes,
.theme-color-5 #notes {
	background: #252525;
}

.theme-color-0 #toolbar,
.theme-color-0 #info-button,
.theme-color-1 #toolbar,
.theme-color-1 #info-button,
.theme-color-2 #toolbar,
.theme-color-2 #info-button,
.theme-color-3 #toolbar,
.theme-color-3 #info-button,
.theme-color-4 #toolbar,
.theme-color-4 #info-button,
.theme-color-5 #toolbar,
.theme-color-5 #info-button {
	filter: invert(100%);
}

.theme-color-0 #notes li,
.theme-color-1 #notes li,
.theme-color-2 #notes li,
.theme-color-3 #notes li,
.theme-color-4 #notes li,
.theme-color-5 #notes li {
	color: #fff;
	border-top-color: #383838;
}

.theme-color-0 #notes li:last-child,
.theme-color-1 #notes li:last-child,
.theme-color-2 #notes li:last-child,
.theme-color-3 #notes li:last-child,
.theme-color-4 #notes li:last-child,
.theme-color-5 #notes li:last-child {
	border-bottom-color: #383838;
}

.theme-color-0 #notes li:hover,
.theme-color-1 #notes li:hover,
.theme-color-2 #notes li:hover,
.theme-color-3 #notes li:hover,
.theme-color-4 #notes li:hover,
.theme-color-5 #notes li:hover {
	background-color: #333;
	box-shadow: 0 0 7px rgb(60 60 60 / 30%);
}

.theme-color-0 #notes li i,
.theme-color-1 #notes li i,
.theme-color-2 #notes li i,
.theme-color-3 #notes li i,
.theme-color-4 #notes li i,
.theme-color-5 #notes li i {
	box-shadow: 0 0 3px 2px rgb(0 0 0 / 50%);
}

/* icons */
.icon-delete {
	background-image: url(../icons/delete.png);
	background-color: #ffe2e2;
	border: 5px solid #ffe2e2;
	border-radius: 2px;
	padding-left: 20px !important;
	line-height: 1.5 !important;
	height: 28px !important;
}

.icon-back {
	background-image: url(../icons/back.png);
}

.icon-github {
	background-image: url(../icons/github.png);
	margin: -5px 0 5px !important;
}

.icon-resize {
	background-image: url(../icons/resize.png);
	background-size: 18px;
	background-position-x: 2px !important;
	margin-bottom: 8px;
}

.icon-joystick {
	background-image: url(../icons/joystick.png);
}

.icon-export {
	background-image: url(../icons/export.png);
}

.icon-import {
	background-image: url(../icons/import.png);
}

.icon-list {
	background-image: url(../icons/list.png);
}

.icon-options {
	background-image: url(../icons/options.png);
	min-width: 22px;
}

.icon-theme {
	background-image: url(../icons/theme.png);
}

.icon-add {
	background-image: url(../icons/add.png);
}

.icon-info {
	background-image: url(../icons/info.png);
	position: absolute;
	height: 22px;
	top: 10px;
	right: 6px;
}

@media screen and (max-width: 400px) {
	#info-button {
		display: none;
	}
}